*{
    background-color: rgb(9, 14, 27);
    margin: 0%;
    padding: 0%;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
}
.left{
    width: 10%;
    /* background-color: aquamarine; */
}
.leftcontant{
    position: fixed;
}
.add{
    align-items: center;
    background: none;
    margin-top: 5rem;
}
.right{
    width: 90%;
    /* background-color: blue; */
}
.icons{
    display: flex;
    flex-direction: column;
    /* background: red; */
}
button{
    width:100px;
    background: none;
}
.logo{
    height: 80px;
    width: 100px;
    margin: 5px;
    padding: 10px;
    /* background-color: green; */
    margin-left: 0%;
}
.home{
    display: flex;
    justify-content: left;
    padding: 10px ;
    margin: 10px;
    border: none;
    cursor: pointer;
    
    /* background-color: aqua; */
}
p{
  color: white;
}
.home p{
    visibility: hidden;
    /* background-color: blue; */
    margin-top:5px;
    margin-left: 15px;
    font-size: large;
}
.home:hover p{
    visibility: visible;
    scale: 1.2;
        transition: all 300ms; 
}
.row{
    height: 10rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    /* background-color: rgb(255, 12, 44); */
}
.video{
    height: 100%;
    width: 15rem;
    margin-top: .5rem;
    /* background-color: rgb(51, 92, 228); */
}
.img{
    width: 100%;
    height: 80%;
    margin-top: 0%;
    margin-left: 0%;
    object-fit: cover;
    transition: all 300ms;
    &:hover{
        scale: 1.2;
        transition: all 300ms;
    }

}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 0%;
    border-radius: 5%;
}
.title{
    width: 18%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 2rem;
    text-align: center;
    font-size: medium;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    background-color: rgb(33, 35, 70);
    transition: all 300ms;
}
.video:hover .title{
    visibility: visible;
    
        scale: 1.2;
        transition: all 300ms;   
}
a{
    text-decoration: none;
    color: white;
    background: none;
}